<nav role="navigation" aria-label="Primary navigation"
  class="flex items-center justify-between flex-wrap mt-8 hidden md:hidden lg:block xlg:block 2xl:block">
  <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto">
    <div class="text-xl lg:flex-grow lg:mr-5 border-b-4 border-gray-800 mb-5 lg:mb-0">
      <div class="flex flex-row">
        <ul class="flex basis-1/2">
          {%- for pagelinks in collections.navitem reversed -%}
          <li><a href="{{ pagelinks.url | url }}" {% if pagelinks.url ==page.url%} aria-current="page"
              class="block rounded mb-4 p-2.5 lg:inline-block lg:mt-0 text-teal-lighter hover:bg-pink-700 hover:text-white mr-4 navitem focus:outline-none dark:focus:outline-none  hover:no-underline dark:bg-pink-700 dark:text-white bg-black text-white noUnderline"
              {% else %}
              class="block rounded  mb-2 p-2.5 lg:inline-block lg:mt-0 text-teal-lighter hover:bg-pink-700 hover:text-white mr-4 navitem focus:outline-none  dark:focus:outline-none hover:no-underline "
              {% endif %}>{{
              pagelinks.data.navtitle }}
            </a>
          </li>

          {%- endfor -%}
          <li><a href="#" class="block rounded mb-2 p-2.5 lg:inline-block lg:mt-0 text-teal-lighter hover:bg-pink-700 hover:text-white mr-4 navitem focus:outline-none  dark:focus:outline-none hover:no-underline ">Sarah page</a></li>
        </ul>
        <!-- <button 
      class="sm:mt-5 md:mt-5 font-sans bg-gray-800 focus:outline-none hover:bg-gray-700 border-gray-700 hover:border-gray-500 text-white dark:bg-pink-700 dark:border-pink-900 dark:hover:border-pink-700 dark:hover:bg-pink-600 hover:bg-green-200 border-b-4 border-green-600 hover:border-green-400 dark:text-white text-center py-2 px-3 rounded dark:font-sans text-lg"
      id="toggleDarkMode"></button> -->
        <div class="flex basis-1/2 justify-end">
          <button id="theme-toggle" type="button" role="button"
            class="js-enabled text-black hover:text-white dark:text-gray-400 hover:bg-pink-700 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-black dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 mb-4 dark:hover:text-white">
            <span id="themeText" class="sr-only"></span>
            <svg id="theme-toggle-dark-icon" class="hidden w-8 h-8" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
            </svg>
            <svg id="theme-toggle-light-icon" class="hidden w-8 h-8" fill="currentColor" viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg">
              <path
                d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                fill-rule="evenodd" clip-rule="evenodd"></path>
            </svg>
          </button>

        </div>
      </div>
    </div>
  </div>
</nav>


  <div class="md:flex lg:hidden xlg:hidden 2xl:hidden">
    <button id="theme-toggle-mob" type="button" role="button"
      class="text-black hover:text-white dark:text-gray-400 hover:bg-pink-700 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-black dark:focus:ring-gray-700 rounded-lg text-sm px-2.5 mt-1 dark:hover:text-white mt-6"
      aria-label="Switch color scheme">
      <svg id="theme-toggle-dark-icon-mob" class="hidden w-10 h-10" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
      </svg>
      <svg id="theme-toggle-light-icon-mob" class="hidden w-10 h-10" fill="currentColor" viewBox="0 0 20 20"
        xmlns="http://www.w3.org/2000/svg">
        <path
          d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
          fill-rule="evenodd" clip-rule="evenodd"></path>
      </svg>
    </button>
     <!-- Mobile menu button-->
     <button type="button" id="menubtn" aria-labelledby="menu-label"
       class="text-black hover:text-white dark:text-gray-400 hover:bg-pink-700 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-black dark:focus:ring-gray-700 rounded-lg text-sm px-2.5 mt-1 dark:hover:text-white mt-6 float-right"
       aria-expanded="false">
       <span class="sr-only">Open main menu</span>
 
       <svg id="burgerclosed" class="block h-110 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
         stroke="currentColor" aria-hidden="true">
         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
       </svg>
 
       <svg id="burgeropen" class="hidden h-10 w-10" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
         stroke="currentColor" aria-hidden="true">
         <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
       </svg>
     </button>
     <div class="mobile-menuu">
     <nav id="mobile-menu" aria-labelledby="menu-label" class="mobile-menu mt-3 hidden">
       <ul class="w-full">
         {%- for pagelinks in collections.navitem reversed -%}
         <li><a href="{{ pagelinks.url | url }}" {% if pagelinks.url==page.url %} aria-current="page"
             class="block rounded mb-4 p-2.5 lg:inline-block lg:mt-0 text-teal-lighter hover:bg-pink-700 hover:text-white navitem focus:outline-none dark:focus:outline-none  hover:no-underline dark:bg-pink-700 dark:text-white bg-black text-white noUnderline"
             {% else %}
             class="block rounded  mb-2 p-2.5 lg:inline-block lg:mt-0 text-teal-lighter hover:bg-pink-700 hover:text-white navitem focus:outline-none  dark:focus:outline-none hover:no-underline "
             {% endif %}>{{
             pagelinks.data.navtitle }}
           </a>
         </li>
         {%- endfor -%}
     
       </ul>
     </nav>
    </div>
<div hidden>
    <noscript>
      <nav id="mobile-menu" aria-labelledby="menu-label" class="mobile-menu mt-3">
        <ul class="w-full">
          {%- for pagelinks in collections.navitem reversed -%}
          <li><a href="{{ pagelinks.url | url }}" {% if pagelinks.url==page.url %} aria-current="page"
              class="block rounded mb-4 p-2.5 lg:inline-block lg:mt-0 text-teal-lighter hover:bg-pink-700 hover:text-white navitem focus:outline-none dark:focus:outline-none  hover:no-underline dark:bg-pink-700 dark:text-white bg-black text-white noUnderline"
              {% else %}
              class="block rounded  mb-2 p-2.5 lg:inline-block lg:mt-0 text-teal-lighter hover:bg-pink-700 hover:text-white navitem focus:outline-none  dark:focus:outline-none hover:no-underline "
              {% endif %}>{{
              pagelinks.data.navtitle }}
            </a>
          </li>
          {%- endfor -%}
      
        </ul>
      </nav>
    
    </noscript>
  </div>
  </div>

